<h1>Carrito</h1>

<div class="containerCart">
    {{#each products}}
        <div class="cardCart">
            <p>Producto: {{product}}</p>
            <p>Cantidad: {{quantity}}</p>
        </div>
    {{/each}}
</div>