
<h1>Productos agregados hasta el momento: </h1>

<div class="containerCards">
    {{#each products}}
        <div class="card">
            <p>Nombre: {{this.title}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: $ {{this.price}}</p>
        </div>
    {{/each}}
</div>
