body {
    background-color: #F1F0E8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    color: #89A8B2;
    text-align: center;
}

.card {
    height: 190px;
    background-color: #89A8B2;
    border-radius: 10px;
    border: 1px solid #89A8B2;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.card h2 {
    color: #F1F0E8;
}

p {
    color: #4A628A;
    font-size: 15px;
}

.divForm {
    align-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#containerProducts #pInicial{
    margin-top: 150px;
    font-size: 25px;
    text-align: center;
}

.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPaginate {
    padding: 15px; 
}

.paginate a {
    text-decoration: none;
}

.divBtnCart {
    display: flex;
    justify-self: right;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    background-color: #F1F0E8;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
    background-color:#d3d3d3d3;
}

.cardCart {
    display: flex;
    flex-direction: column;
    height: 190px;
    background-color: #89A8B2;
    border-radius: 10px;
    border: 1px solid #89A8B2;    
    padding: 5px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}